/* css aanmelding.php */
.centered-form .panel
{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.centered-form
{
	margin-top: 20px;
}

.aanmeldingStageBody
{
	background-color: #009898;
}

.panel-body
{
	background-color: #bebd00;
}

.rowCell
{
	margin-right: 50px; 
	margin-left: 50px;
}

.panel-default
{
	width: 70%;
	margin:20px auto;
}

.input-sm
{
	margin-bottom: 15px;
	width: 60%;
}


/* css database.php */
.databaseBody
{
	background-color: #FFF;
}

.hiddenId
{
	display: none;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}


/* css loginPage.php and register.php*/
@import "bourbon";

.loginpageBody {
	background: #eee !important;
	margin: 0 auto;
}


.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  border-radius: 5px;
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input {
	text-align: center;
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}


/*index.php and login.php and register.php and contact.php*/
.ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999999;
    font-family: verdana; 
    text-align: center; 
    width: 100%
}

.li {
    float: left;
}

.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


/*css only index.php */
* 
{
	padding: 0;
}
#ss 
{
	list-style: none;
}

#ss li 
{
	float: left;
}
#ss img 
{
	width: 479px;
	height: 220px;
}

.indexBody
{
	margin: 0 auto; 
	background-color: #eee; 
	text-align: center;
	
}


/*css contact.php*/
.contactBody 
{
	background-color: #eee;
	margin: 0 auto; 
	text-align: center;
}